* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

body {
  
      background-image: url('./imagens/FUNDO\ \(1\).jpg');
      background-position: center; 
      background-repeat: no-repeat; 
    

  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

.container{
  max-width: 75rem;
  width: 100%;
  display: flex;
  gap: 1.25rem;
  margin-top: 2rem;

}

.logo {
    position: absolute;
    top: 2.5rem;
    left: 2rem;
  }


a{
  text-decoration: underline color(#fff);
}


 hr {
  width: 0.125rem;
  height: 44rem;
  background-color: white;
  border: none;
  margin: 0;
}


.menu-toggle {
  position: absolute;
  margin-top: 2rem;
  margin-right: 2rem;
  top: 3.75rem;
  right: 3.125rem;
  width: 2.5rem;
  height: 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99;
}

.menu-toggle span {
  display: block;
  width: 100%;
  height: 0.1875rem;
  background-color: white;
  transition: 0.3s;
}

.hamburger-menu {
  position: absolute;
  top: 5rem;
  right: 2.5rem;
  width: 12.5rem;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  padding: 1.25rem;
  transform: translateY(-0.625rem);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 20;
}

.hamburger-menu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.hamburger-menu ul {
  list-style: none;
}

.hamburger-menu li {
  margin: 0.9375rem 0;
}

.hamburger-menu a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s;
}

.hamburger-menu a:hover {
  color: #ffcc00;
}


.planetas {
  width: 12.5rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem; 
}
.planeta-item {
  display: flex;
  align-items: center;
  gap: 0.75rem; 
}
.planeta-item button {
  background-color: white;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem; 
  height: 1.25rem;
  border-radius: 0.9375rem; 
}

.logo img{
  width: 100%;
 
}


.planeta-item div{
margin-bottom: 4.375rem;
}

.planeta-item.active button {
  background-color: #3B4040; 
}

.planeta-item a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}


.content {
  flex: 1;
  padding: 1.25rem;
}

 h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}

.content p {

  font-family: "Cormorant Garamond", serif;
  font-weight: normal;
  font-size: clamp(2rem, 4vw, 3rem); 
  margin-bottom: 1.5rem; 
  font-size: 0.9375rem;
  line-height: 1.6;
  text-align: justify;
}

.container img {
  width: 100%;
  max-width: 50rem;
  margin-top: 1.25rem;
}

.content img{
  
  width: 50rem;
}

.rotating-planet{
  width: 80%; 
  max-width: 37.5rem; 
  height: auto; 
  display: block; 
  margin: 1.25rem 0; 
}




@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}